<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/login.css">
    <title>Quiz Login</title>
</head>
<body>
 <div class="bs-example">
    <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background-color: #17A2B8;">
    <a style="color: #ffffff;text-decoration: none; " href="/"><font face = "Comic sans MS" size =" 5">Online Quiz</font><br /></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>


        <div class="navbar-nav">
          <a style="
          padding-left: 30px;
      " href="/" class="nav-item nav-link active">Home</a>
          <a style="color:white"href="/Quizselect" class="nav-item nav-link">Quiz</a>
        </div>


    </nav>
  </div>


    <div class="main">
        <div class="left">
            <div class="header" style ="color:White"><b>Join Our Live Quiz Community</b></div>

               <form class="login-form" action="/signin" method="post">
                  {% csrf_token  %}
                <div class="email-div">
<!--                    <label form="Email">Email</label>-->
                    <i class="fa fa-user"></i>
                    <input class="name" type="name" placeholder="username" name="name">
                </div>
                <div class="password-div">
<!--                     <label form="Password">Password</label>-->
                    <i class="fa fa-lock"></i>
                    <input class="password" type="password" placeholder="password" name="password">
                </div>
                   <div class="login-div">
                       <input class="submit-button" type="submit" value="Login">
                   </div>
                   <div>
                    {% for msg in messages %}
                        <p style="color: white">{{ msg }}</p>
                    {% endfor %}
              </div>

            </form>
        </div>
        <div class="right">
            <img class="r-image" src="static/login.jpg" alt="login-page Image">

        </div>
    </div>
</body>
</html>